{% extends 'gui_instagram/current_user/current_user.html' %}

{% block link %}
    <div class="row">
        <a href="{% url 'user_url'  username=user.username resource='all' filter='objects' %}" class = "btn btn-light" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">ALL</a>
        <a href="{% url 'user_url'  username=user.username resource='media' filter='objects' %}" class = "btn btn-dark" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">MEDIA</a>
        <a href="{% url 'user_url'  username=user.username resource='story' filter='objects' %}" class = "btn btn-dark" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">STORY</a>
    </div>
    <div class="row">
        <a href="{% url 'user_url' username=user.username resource='all' filter='objects' %}" class = "btn btn-success" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">Objects</a>
        <a href="{% url 'user_url' username=user.username resource='all' filter='friends' %}" class = "btn btn-success" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">Friends</a>
        <a href="{% url 'user_url' username=user.username resource='all' filter='hashtags' %}" class = "btn btn-success" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">Hashtags</a>
        <a href="{% url 'user_url' username=user.username resource='all' filter='types' %}" class = "btn btn-success" style="margin-left: 2%; margin-bottom: 2%; margin-top: 4%">Types</a>
    </div>
{% endblock %}